*{
    margin: 0px;
}

body {
    background: darkslategray;
    width: 1340px;
    margin: 10px auto;
}

/***************************header********************************/

header{
    background: linear-gradient(#211c3c, #000060,#211c3c);
    font-size: 80px;
    color: silver;
    padding-left: 20px;
    border: 2px solid black;
    cursor: default;
}

header #header_span1{
    font-size: 120px;
    color: yellow;
}
header #header_span2{
    color: aquamarine;
}
header #header_span3{
    color: yellow;
    font-size: 50px;
}
header:hover{

}


/*****************************nav*********************************/

nav{
    background: #231e44;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 2px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding:0 49px;
    padding-top: 13px;
    padding-bottom: 15px;
    cursor: pointer;
}
nav ul li:hover{
    background: blueviolet;
    color: aqua;
}

nav #quick_search{
    border:1px solid black;
    border-radius: 20px;
    width:210px;
    padding: 5px 0 5px 5px;
    background: silver;
}
nav #qsearch:hover{
    background: #231e44;
    cursor: default;
}

nav #quick_search_submit{
    color: whitesmoke;
    background: sandybrown;
    border:none;
    padding:4px;
    border:1px solid black;
    border-radius: 5px;
}
nav #quick_search_submit:hover{
    cursor: pointer;
    background: saddlebrown;
    color: yellow;
}

/**************************category******************************/

.dropdown_category {
    position: relative;
}

.film_content {
    display: none;
    position: absolute;
    background-color: #19c7c4;
    min-width: 160px;
    z-index: 1;
}

.film_content a {
    font-size: 15px;
    color: black;
    padding: 5px 25px;
    text-decoration: none;
    display: block;
}

.film_content a:hover {
    background-color: blue;
    color: whitesmoke;
}

.dropdown_category:hover .film_content {
    display: block;
}

/************************middle*************************/
#middle{
    margin:3px 0;
}

/************************home*************************/

#middle .home_list{
    padding: 10px;
    font-size: 25px;
    color: lightblue;
    cursor: default;
}






/***************************footer***********************/

footer{
    background: linear-gradient(#211c3c, #000060,#211c3c);
    color: whitesmoke;
    text-align: center;
    cursor: default;
}
footer ul{
    list-style: none;
}
footer ul li{
    font-size: 16px;
    float: left;
    padding:0 82px;
    padding-top: 8px;
    padding-bottom: 8px;
}
footer ul .footer_menu{
    cursor: pointer;
}

footer ul .footer_menu:hover{
    color: aqua;
}

footer #footer1{
    padding:15px 0 5px 0;
    letter-spacing: 3px;
}
footer #footer2{
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 4px;
}
footer #footer3{
    letter-spacing: normal;
}